<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="../css/swiper-bundle.min.css">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../css/styles.css">

        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../css/palanq.css">

        <!--==================== FONT ====================-->
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">


        <title>PalanqueIA</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../../index.html" class="nav__logo">Igor</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="../../index.html#home" class="nav__link">
                                <i class="uil uil-estate nav__icon"></i> Home
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="../../index.html#about" class="nav__link">
                                <i class="uil uil-user nav__icon"></i> About
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="../../index.html#skills" class="nav__link">
                                <i class="uil uil-file-alt nav__icon"></i> Skills
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="../../index.html#qualification" class="nav__link">
                                <i class="uil uil-graduation-cap nav__icon"></i> Qualification
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="../../index.html#portfolio" class="nav__link">
                                <i class="uil uil-scenery nav__icon"></i> Portfolio
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="../../index.html#contact" class="nav__link">
                                <i class="uil uil-message nav__icon"></i> Contact Me
                            </a>
                        </li>
                    </ul>
                    <i class="uil uil-times nav__close" id="nav-close"></i>
                </div>

                <div class="nav__btns">
                    <!-- Theme Change Button -->
                    <i class="uil uil-moon change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="uil uil-apps"></i>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
          <div class="palanq_iframe-container">
            <div class="pdf-viewer">
              <embed id="pdfViewer" src="/../assets/pdf/PalanqueIA.pdf" type="application/pdf" width="95%" height="100%">
            </div>

            <iframe src="https://www.palanqueia.site/" title="palanqueIA"></iframe>
          </div>
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer">
         <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Igor</h1>
                    <span class="footer__subtitle">Data Scientist</span>
                </div>

                <div class="footer__socials">
                    <a href="https://www.linkedin.com/in/igorgmonteiro/" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>

                    <a href="https://github.com/IgorG-Monteiro/" target="_blank" class="footer__social">
                        <i class="uil uil-github-alt"></i>
                    </a>

                    <a href="https://www.credly.com/users/igor-monteiro.ds" target="_blank" class="footer__social">
                        <i class="uil uil-award-alt"></i>
                    </a>

                    <a href="http://lattes.cnpq.br/6776401477735453" target="_blank" class="footer__social">
                        <i class="uil uil-file-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; Igor-Monteiro. All rights reserved</p>
         </div>
        </footer>
        
        <!--==================== SCROLL TOP ====================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup__icon"></i>
        </a>

        <!--==================== SWIPER JS ====================-->
        <script src="/../assets/js/swiper-bundle.min.js"></script>

        <!--==================== MAIN JS ====================-->
        <script src="/../assets/js/main.js"></script>
    </body>
</html>
